
<!DOCTYPE HTML>
<html lang="zxx">

<head>
  <title>Cloud Login Form Responsive Widget Template :: w3layouts</title>
  <!-- Meta tag Keywords -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
  <meta name="keywords" content="Cloud Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
  />
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!-- Meta tag Keywords -->

  <!-- css files -->
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
  <!-- Style-CSS -->
  <link rel="stylesheet" href="css/fontawesome-all.css">
  <!-- Font-Awesome-Icons-CSS -->
  <!-- //css files -->

  <!-- web-fonts -->
  <link href="//fonts.googleapis.com/css?family=Encode+Sans+Condensed:100,200,300,400,500,600,700,800,900&amp;subset=latin-ext,vietnamese"
      rel="stylesheet">
  <!-- //web-fonts -->
</head>

<body>
<div class="papel1">     
  <!-- title -->
  <h1>
    Registro de Usuarios
  </h1>
  <!-- //title -->

  <!-- content -->
  <div class="container">
    <div id="clouds">
      <div class="cloud x1"></div>
      <!-- Time for multiple clouds to dance around -->
      <div class="cloud x2"></div>
      <div class="cloud x3"></div>
      <div class="cloud x4"></div>
      <div class="cloud x5"></div>
    </div>
    <!-- content form -->
    <div class="sub-main-w3">
      <form action="#" method="post">
        <div class="form-style-agile">
          <label>
            <i class="fas fa-user"></i>
            Usuario

          </label>


            <form action="/signin" method="POST">
            <div class="form-group">
     

              <input type="text" name="fullname" placeholder="Nombre Completo" class="form-control" autofocus>
            </div>



              <input type="text" name="username" placeholder="Nombre de usuario" class="form-control" autofocus>
            </div>

        <!--  <input placeholder="Username" name="Name" type="text" required="">
        </div>-->
        <div class="form-style-agile">
          <label>
            <i class="fas fa-unlock-alt"></i>
            Contrase単a

          </label>

          <div class="form-group">
              <input type="password" name="password" placeholder="Contrase単a" class="form-control">
            </div>

                 




         <!-- <input placeholder="Password" name="Password" type="password" required="">-->
        </div>

                    <button class="btn btn-primary btn-block">
              Registrarse
            </button>
          </form>

        <!--<input type="submit" value="Log In">
      </form>-->
    </div>
    <!-- //content form -->
  </div>
  <!-- //content -->

  <!-- copyright -->
  <div class="footer">
    <h2>&copy; 2020 Programacion Web. All rights reserved | Paola Ba単os |Pablo Funes|
      
    </h2>
  </div>
  <!-- //copyright -->


</body>

</html>











































<!--



<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">

      <div class="card text-center">
               <div class="card animated flipInY">
                 
        <div class="card-header">
          <h3 style="color:black">Registrate</h3>
        </div>
       <img src="/img/usuarios.png" alt=""  class="card-img-top mx-auto m-2 rounded-circle w-50">

        <div class="card-body">
          <form action="/signup" method="POST">
            <div class="form-group">
              <input type="type" name="fullname" placeholder="Nombre Completo" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="text" name="username" placeholder="Nombre de usuario" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Contrase単a" class="form-control">
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block">
                Iniciar
              </button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>-->